<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <title>Status Post</title>
<style>
</style>
</head>
<body>

<div class="container">
    <h1>Hello, Apa Kabar?</h1>
    <div class="form-group">
    <form id='form' method="POST" action="/status">
        {% csrf_token %}
        <table border="1">
            {{ form }}
        </table>
        <button type="submit" class="save btn btn-default">Submit</button> 
    </form>
</div>
</div>

<div class = "container p-5">
    <h3>Daftar Status</h3>
    <div class="table-responsive">
        <table class="table">
            <thead>
                <th>Status</th>
            </thead>
            <tbody>
                {% for e in daftarstatus %}
                <tr>
                    <td>{{e.status}}</td>
                    <td>{{e.time}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

</body>
</html>
