<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <title>Hello, Apa Kabar?</title>
<style>
</style>
</head>
<body background="https://wallpapershome.com/images/wallpapers/love-image-1920x1080-couple-art-sunset-hd-15670.jpg">
    <h1>List Status</h1>
    <ul>
        {% for status in table %}
          <li>{{ schedule.event }}</li>
        {% endfor %}
    </ul>
</body>
</html>
